@charset "utf-8";
@import url(phone.css);
@import url(tablet.css) (min-width:768px);
@import url(desktop.css) (min-width:992px);

/* 모바일 우선 제작 */
/* phone */
/* body {background: yellow;} */

/* tablet: 최대 768px -> 768px 이상인 장치 */
/* @media (min-width:768px) {
        body {background: coral;}
} */

/* desktop: 최소 992px -> 992px 이상인 장치 */
/* @media (min-width:992px) {
        body {background: blueviolet;}
} */