@charset "utf-8";
/* 초기화 */
* {box-sizing: border-box;}
body, h1, ul {margin: 0;}
ul {
    list-style: none;
    padding: 0;
}
img {
    vertical-align: top;
    width: 100%;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}