@charset "utf-8";

/* 초기화 */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body,
h1,
h2,
ul,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

iframe {
    border: none;
    width: 100%;
}