@charset "utf-8";
@import url(reset.css);
@import url(typo.css);
/* 와이어프레임 */
/* * {border: 1px solid red;} */
header {
    width: 1440px;
    background-color: lightblue;
    margin: 0 auto;
}
/* #sec1 {background-color: lightcoral;} */
#sec2 {background-color: lightgray;}
#sec3 {background-color: lightslategray;}
footer {
    background-color: lightblue;
    width: 1440px;
    margin: 0 auto;
}
/* 헤더 */

/* 섹션공통 */
.sec {
    width: 1440px;
    height:1200px;
    margin: 0 auto;
}
.sec h2, .sec h3, .sec p {text-align: center;}

/* 섹션1 */
.outer1, .outer2 {
    /* position: relative; */
    float: left;
    width: 720px;
    height: 220px;
    text-align: center;
}
.inner1 {
    position: relative;
    width: 195px;
    top: 50px;
    left: 400px;
}
.outer1:hover {
    background: url(/70_project/team/images/bg_nation.jpg) no-repeat;
}
.outer2:hover {
    background: url(/70_project/team/images/bg_store.jpg) no-repeat;
}
.inner2 {
    position: relative;
    width: 195px;
    top: 50px;
    left: 100px;
}
.clearfix > li:nth-of-type(odd) {
    margin-left: 150px;
}
.clearfix > li:nth-of-type(even) {
    margin-right: 150px;
}
.img:hover ul {
    opacity: 1;
}
.img {
    position: relative;
    width: 570px;
    height: 400px;
    float: left;
}
.img h4 {
    background-color: #ffc232;
    line-height: 150px;
    text-align: center;
    width: 170px;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 90px;
}
.img ul {
    opacity: 0;
}

/* 섹션2 */
#sec2 li {
    text-align: center;
}
.parallax1 {
    width: 1440px;
    height: 200px;
}
.step_wrap {
    position: relative;
}
#sec2 ol {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1025px;
    height: 220px;
    text-align: center;
    display: inline-block;
    list-style: none;
}
#sec2 ol > li {
    float: left;
}

#sec2 {
    position: relative;

}
#sec2 .step {
    width: 192px;
    height: 192px;
    border: 4px solid green;
    border-radius: 100px;
}
.step span {
    height: 26px;
    line-height: 26px;
    display: block;
}
.step span:nth-of-type(1) {
    margin-top: 70px;
}
#sec2 p:nth-of-type(2) {
    position: absolute;
    left: 10px;
    top: 600px;
    opacity: 0.75;
}



/* 섹션3 */
#sec3 .parallax2 {
    width: 1440px;
    height: 310px;
    text-align: center;
    line-height: 155px;
}
/* 푸터 */