@charset "utf-8";

/* 작업중 */
/* body * {
    outline: 1px solid lime;
} */

/* reset */
* {
    /* 요소의 패딩과 테두리를 요소의 안쪽으로 지정 */
    box-sizing: border-box;
    /*body, h1, h2, p, ul, button */
    margin: 0;
    padding: 0;
}

/* img {
    vertical-align: top;
} */

/* common */
#wrap {
    width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    height: 100px;
    padding: 30px 0;
}

/* logo */
.logo {
    float: left;
}

/* GNB */
#gnb {
    float: right;
    margin-top: 10px;
}

/* 1depth */
#gnb .main li {
    display: inline-block;
    width: 150px;
}

/* 2depth */
#gnb .sub {
    display: none;
}

/* slide */
#slide {
    height: 300px;
}

#slide li {
    position: absolute;
}

/* modal */
#modal {
    display: none;
}

/* contents */
#contents {
    height: 200px;
    padding: 5px 0;
    /* text-align: right; */
}

#contents>div {
    float: left;
    width: 380px;
}

/* notice */

/* 탭 */
#contents #tabs {
    width: 424px;
}
#tabs input {
    display: none;
}

#tabs input:checked+div {
    display: block;
}

/* 내용 공통 */
#tabs div {
    display: none;
    position: absolute;
    width: 424px;
    height: 160px;
}

label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #DEF;
}

/* 공지사항 */

#tab1 li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

#tab1 span {
    display: inline-block;
    width: 334px;
}

/* 갤러리 */
#tabs #tab2 {
    /* box-sizing: border-box; */
    /* width: calc(400px - 32px); */
    background-color: lightcoral;
    padding: 24px 16px;
}

#tab2 a {
    margin: 0 4px;
}

/* banner */
.banner {
    margin-left: 8px;
}
/* shortcut */
#contents .shortcut {
    float: right;
}
/* footer */
footer {
    height: 100px;
    background-color: #1f1f1f;
    color: rgba(255,255,255, 0.7);
    padding: 30px;
}
/* a 태그는 글자색을 별도 지정한다. */
footer a {
    color: rgba(255,255,255, 0.7);
}
footer > div {
    float: left;
}

/* 하단로고 */
.blogo {
    width: 200px;
}
/* 주소 및 저작권 */
.copy {
    width: 640px;
}
/* SNS */
.sns {
    width: 300px;
}
.sns li {
    float: left;
    margin: 0 8px;
}